resource_group: "petclinic-rg"
location: "westeurope"

network:
  vnet_name: "petclinic-vnet"
  vnet_address: "10.0.0.0/16"
  subnets:
    frontend-sn:
      name: "frontend-subnet"
      address: "10.0.1.0/24"
      nsg_name: "frontend-nsg"
      rules:
        - name: "AllowHTTP"
          priority: 100
          port: "80"
          source: "*"
          protocol: "Tcp"
          access: "Allow"
        - name: "AllowSSH"
          priority: 110
          port: "22"
          source: "*"
          protocol: "Tcp"
          access: "Allow"
    backend-sn:
      name: "backend-subnet"
      address: "10.0.2.0/24"
      nsg_name: "backend-nsg"
      rules:
        - name: "AllowMySQL"
          priority: 100
          port: "3306"
          source: "VirtualNetwork"
          protocol: "Tcp"
          access: "Allow"
        - name: "AllowSpring"
          priority: 110
          port: "9966"
          source: "VirtualNetwork"
          protocol: "Tcp"
          access: "Allow"
        - name: "AllowSSHInternal"
          priority: 120
          port: "22"
          source: "VirtualNetwork"
          protocol: "Tcp"
          access: "Allow"

database:
  user: "petclinic"
  password: "petclinic"

compute:
  db_vm:
    name: "petclinic-db-vm"
    size: "Standard_F1als_v7"
    image: "Ubuntu2204"
    admin_username: "azureuser"
    subnet: "backend-sn"
    public_ip: ""
  backend_vm:
    name: "petclinic-backend-vm"
    size: "Standard_F1als_v7"
    image: "Ubuntu2204"
    admin_username: "azureuser"
    subnet: "backend-sn"
    public_ip: ""
  frontend_vm:
    name: "petclinic-frontend-vm"
    size: "Standard_F2als_v7"
    image: "Ubuntu2204"
    admin_username: "azureuser"
    subnet: "frontend-sn"
    public_ip: "petclinic-frontend-ip"
